# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output folder
build/
build/*
src/Graph/undirectedGraph.h.bk
src/Tester/tester.cpp.bk
src/Tester/tester.cpp.bk2
src/Tester/ejm.txt
src/Graph/Algoritmos/kruskal.h.bk1
src/main.cpp.bk
.DS_Store
